.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  padding: 50px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header h1 {
  margin-right: 10px;
}
